[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Nitrogen
MimeType=application/x-natron
Exec=/opt/Natron2/Nitrogen
GenericName=Compositing software
Comment=Node-graph based compositing software
Icon=/opt/Natron2/Resources/Images/nitrogen.png
Categories=Graphics;2DGraphics;RasterGraphics;

